
.mission-visions-section {
    width: 100%;
    max-width: 1596px;
    margin: 150px auto; 
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px; 
}


.mission-visions-section .section-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 80px;
    width: 100%;
}
.mission-visions-section .section-header h2 {
    font-size: 48px;
    font-weight: 800;
    color: #1A1A1A;
    margin: 15px 0 20px 0;
}
.mission-visions-section .section-header p {
    max-width: 996px; 
    font-size: 18px;
    color: #4C4C4D; 
    line-height: 1.6;
    margin: 0 auto; 
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; 
    width: 100%;
}

.card-item {
    background: #FFFFFF;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
    padding: 50px;
    box-shadow: 10px 10px 0px #1E1E1E; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.2s ease;
}

.card-item:hover {
    transform: translate(-5px, -5px);
    box-shadow: 15px 15px 0px #1E1E1E;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-header h3 {
    font-size: 30px;
    font-weight: 800;
}

.card-icon {
    width: 60px; 
    height: auto;
}

.card-item p {
    color: #4C4C4D;
    font-size: 20px;
    line-height: 1.6;
}


@media (max-width: 992px) {
    .mission-visions-section {
        margin: 80px auto;
        gap: 40px;
    }

    .cards-grid {
        grid-template-columns: 1fr;
    }

    .card-item {
        padding: 30px;
    }

    .card-header h3 {
        font-size: 24px;
    }

    .mission-visions-section h2 {
        font-size: 32px;
    }
}