
.navigate-section {
    padding: 80px 5%;
    max-width: 1590px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}
.section-title {
    margin-bottom: 80px;
}

.sub-title {
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #262626;
    padding: 10px 20px;
    border-radius: 8px;
    color: #262626;
    display: inline-block;
}

.section-title h2 {
    font-size: 58px;
    font-weight: 800;
    margin: 19px 0 30px;
    color: #262626;
}

.section-title p {
    color: #333333;
    font-size: 21.5px;
    margin: 0 auto;
    max-width: 996px;
    line-height: 1.6;
}

/* Grid Card */
.pages-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px;
    margin-top: 40px;
}


.page-card {
    background: #FFFFFF;
    border: 2px solid #262626;
    border-radius: 12px;
    padding: 80px 50px; 
    box-shadow: 8px 8px 0px #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    height: 100%;
}

.page-card:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0px #262626;
}

.page-card h3 {
    font-size: 48px;
    font-weight: 700;
    color: #1A1A1A;
}

.nav-card-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0 45px;
    position: relative;
    padding: 0 20px;
}

.nav-dot {
    width: 18px;
    height: 18px;
    border: 2px solid #262626; 
    border-radius: 50%;
    background-color: white;
    flex-shrink: 0;
    z-index: 10; 
}
.nav-dashed-line {
    flex-grow: 1;
    max-width: 250px; 
    height: 10px; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 0 -4px;
}

.nav-dashed-line::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px; 
    background-image: linear-gradient(
        to right, 
        #FF8D4D 70%, 
        transparent 30%
    );
    background-size: 20px 100%;
    background-repeat: repeat-x;
    border-radius: 10px;
    z-index: 2;
}


.nav-dashed-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(
        to right, 
        #333333 70%, 
        transparent 30%
    );
    background-size: 20px 100%; 
    background-repeat: repeat-x;
    z-index: 3; 
}
@media (max-width: 600px) {
    .nav-dashed-line {
        width: 150px; 
        background-size: 25px 4px;
        margin-top: 12px;
    }
    .nav-dot {
        width: 14px;
        height: 14px;
        margin-top: 6px;
    }
}


.page-card p {
    font-size: 20px;
    color: #4C4C4C;
    line-height: 1.6;
    margin-bottom: 50px;
    text-align: center;
    min-height: 80px;
    flex-grow: 1;
    margin-bottom: 50px;
    
}
.page-card:hover {
    transform: translate(-3px, -3px);
    box-shadow: 9px 9px 0px #262626; 
}
.learn-more-btn {
    width: 100%;
    background: #FFDECC;
    border: 2px solid #262626;
    border-radius: 12px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    transition: 0.3s;
    color: #262626;
}

.learn-more-btn:hover {
    background: #FF8D4D;
    color: white;
}

.learn-more-btn .arrow {
    font-size: 35px;
    transition: 0.3s;
    color:#FF8D4D;
}

.learn-more-btn:hover .arrow {
    transform: translateX(8px);
}



@media (max-width: 1200px) {
    .section-title h2 { font-size: 48px; }
    .page-card { padding: 60px 30px; }
}

@media (max-width: 992px) {
    .pages-grid {
        grid-template-columns: 1fr; 
        gap: 40px;
    }
    .section-title h2 { font-size: 38px; }
}

@media (max-width: 600px) {
    .navigate-section { padding: 60px 5%; }
    .section-title h2 { font-size: 28px; }
    .nav-dashed-line { width: 140px; background-size: 25px 3px; }
    .page-card { padding: 40px 20px; }
    .page-card h3 { font-size: 26px; }
}